@hashrateColor: rgba(128, 0, 0, 1);
@minersColor: rgba(64, 255, 64, 0.5);
@workersColor: rgba(0, 0, 255, 0.75);

body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: #000002;
  color: #fff;
}

@keyframes updated {
  from {
    color: #fff;
  }

  to {
    color: #444;
  }
}

view {
  width: 100%;

  display: flex;

  overflow-y: auto;

  network {
    tr {
      .difficulty {
        text-align: center;

        &.updated {
          animation: updated 10s linear;
          animation-fill-mode: both;
        }
      }
    }
  }

  pools {
    display: block;

    margin: 0 auto;

    network {
      display: block;

      padding: 1em;

      font-weight: bold;
    }

    pool {
      display: block;

      margin: 0.25em;
      padding: 0.25em;

      background-color: #000009;

      a {
        color: #666;

        font-size: 0.9em;

        text-decoration: none;
      }

      pool-stats {

        hashrate-bar, miners-bar {
          display: block;
          height: 0.25em;

          background-color: @hashrateColor;
        }

        miners-bar {
          background-color: @minersColor;
        }

        config {
          font-size: 0.8em;

          ports {
            display: flex;
            flex-direction: column;

            pool-port {
            }
          }
        }
      }

      pool-error {
        display: block;

        background-color: rgba(255, 0, 0, 0.5);
        color: #000;

        font-weight: bold;
      }
    }

    hashrate {
      display: block;

      color: @hashrateColor;
    }

    miners {
      display: block;

      color: @minersColor;
    }

    workers {
      display: block;

      color: @workersColor;
    }

    donate {
      display: block;
    }
  }
}